---
import InterSectionText from "../molecules/InterSectionText.astro";
const email = "info@aciduslabs.com";
---

<section class="sectionContact mt-10" id="contactSection">
  <InterSectionText
    title="El futuro de tu negocio comienza aquí."
    classTitle="titleContact"
    description="Ahora que conoces mi proceso, mi filosofía y mi trabajo, me encantaría conocer tu historia. Cuéntame tu idea sin compromiso y hablemos sobre cómo puedo ayudarte a construir tu éxito digital."
    padding="40px"
    classDesc="descContact"
  />
  <div class="formContact">
    <form
      action="https://formspree.io/f/xzzvlaqr"
      method="POST"
      class="flex flex-col gap-6 mx-8"
    >
      <div class="flex flex-col gap-1">
        <label class="text-[#0075c8] px-2 text-lg font-light" for="name"
          >Nombre</label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="bg-[rgba(50,50,50,1)] text-white px-4 py-4 rounded-4xl focus:outline-none focus:ring-2 focus:ring-[#004080] transition-colors duration-300"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-[#0075c8] px-2 text-lg font-light" for="email"
          >Correo electrónico</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="bg-[rgba(50,50,50,1)] text-white px-4 py-4 rounded-4xl focus:outline-none focus:ring-2 focus:ring-[#004080] transition-colors duration-300"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-[#0075c8] px-2 text-lg font-light" for="message"
          >Tu mensaje</label
        >
        <textarea
          name="message"
          id="message"
          class="bg-[rgba(50,50,50,1)] text-white px-4 py-4 rounded-4xl focus:outline-none focus:ring-2 focus:ring-[#004080] transition-colors duration-300"
          rows="4"
          required></textarea>
      </div>
      <button
        type="submit"
        class="bg-[#0075C8] text-white px-8 py-4 mb-4 rounded-full hover:bg-[#004080] transition-colors duration-300 font-light"
      >
        Solicita tu cotización gratuita
      </button>
    </form>
    <p
      class="text-[#858585] text-center text-sm flex flex-col items-center font-light"
    >
      O enviame un correo directo a <a
        href="#"
        aria-label="Enviar correo electronico directo a info@aciduslabs.com"
        class="text-[#4DA2DA]">{email}</a
      >
    </p>

    <p class="text-center text-[#ddd] px-16 py-12 text-lg">
      Tu idea es segura conmigo. Responderé a tu mensaje en menos de 24 horas.
    </p>
    <p class="flex justify-center flex-col md:flex-row text-center font-light text-sm text-[#858585] pt-4 pb-12">
      <span>© 2025 AcidusLabs.</span> Todos los derechos reservados.
    </p>
  </div>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionContact",
      start: "top 80%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".titleContact", {
    duration: 1,
    scale: 0.8,
    opacity: 0,
    ease: "sine.out",
  })
    .from(
      ".descContact",
      {
        duration: 1,
        scale: 0.9,
        opacity: 0,
        ease: "sine.out",
      },
      "-=.5"
    )
    .from(
      ".formContact",
      {
        duration: 1.2,
        y: 20,
        opacity: 0,
        ease: "sine.out",
      },
      "-=.5"
    );
</script>
