---
import Image from "astro/components/Image.astro";
import smileEmoji from "../../images/Emojis/smile.png";
import CtaButton from "../atoms/CtaButton.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
const email = "info@aciduslabs.com";
---

<section
  class="sectionHero flex flex-col items-center justify-center gap-12 pt-12 pb-12 px-8 md:pt-28"
  id="heroSection"
>
  <div class="flex flex-col items-center">
    <div class="relative">
      <div class="gradientEmojiHero bg-radial-blue absolute z-0 inset-0"></div>
      <div class="emojiHero z-10 pb-4">
        <Image
          src={smileEmoji}
          alt="Emoji de AcidusLabs sonriendo."
          width="240"
        />
      </div>
    </div>
    <div class="flex flex-col gap-12">
      <div class="max-w-xl flex flex-col">
        <div class="flex justify-center">
          <h1
            class="textIntroHero text-base text-center font-bold bg-[linear-gradient(90deg,_#00CFFF_0%,_#FF00C8_100%)] bg-clip-text text-transparent bg-[length:100%_100%]"
          >
            Studio de Diseño & Desarrollo Web
          </h1>
        </div>
        <h2
          class="headingHero text-[#ddd] text-3xl leading-xs text-center py-2 text-medium"
        >
          Construyamos el sitio web que tu negocio necesita para escalar
        </h2>
        <p
          class="descriptionHero text-[#858585] text-center text-sm font-light"
        >
          Proyectos a medida que combinan estética, funcionalidad y las mejores
          practicas de conversión para superar tus objetivos.
        </p>
      </div>
      <div class="flex flex-col items-center gap-4">
        <CtaButton
          text="Empieza tu sitio web hoy"
          ariaLabel="Empieza tu sitio web hoy"
          color="#0075C8"
          icon={WhatsappIcon}
        />
        <p
          class="text-[#858585] text-center text-sm flex flex-col items-center font-light"
        >
          O enviame un correo directo a <a
            href="#"
            aria-label="Enviar correo electronico directo a info@aciduslabs.com"
            class="text-[#4DA2DA]">{email}</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionHero",
      start: "top 80%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".gradientEmojiHero", {
    duration: 1.2,
    scale: 0.6,
    opacity: 0,
    ease: "sine.out",
  })
    .from(
      ".emojiHero",
      {
        duration: 1.6,
        scale: 1.2,
        opacity: 0,
        ease: "expo.out",
      },
      "-=1.25"
    )
    .from(
      ".textIntroHero",
      {
        duration: 1.5,
        scale: 1.2,
        opacity: 0,
        ease: "power3.out",
      },
      "-=1.25"
    )
    .from(
      ".headingHero",
      {
        duration: 1.2,
        scale: 1.2,
        opacity: 0,
        ease: "sine.out",
      },
      "-=1.1"
    )
    .from(
      ".descriptionHero",
      {
        duration: 1.2,
        scale: 1.2,
        opacity: 0,
        ease: "sine.out",
      },
      "-=1.1"
    );
</script>
