---
import SectionTitle from "../molecules/SectionTitle.astro";
import CardProject from "../organism/CardProject.astro";
---

<div class="flex flex-col py-8 m-8 gap-6">
  <SectionTitle />
  <CardProject
    title="CentoApp"
    description="Controla tus finanzas sin estrés"
    tag="estrategia + diseño ux"
    color="#8100B1"
  />
</div>
