---
import SectionTitle from "../molecules/SectionTitle.astro";
import InterSectionText from "../molecules/InterSectionText.astro";
import ProjectCard from "../organism/ProjectCard.astro";
import CtaButton from "../atoms/CtaButton.astro";
import CentoApp from "../projects/centoApp.astro";

import centoCover from "../../images/Mask group.png";
import CentoAppIcon from "../projects/centoapp/CentoAppIcon.astro";
---

<section
  class="sectionProjects flex flex-col py-8 gap-6 md:items-center md:pt-16"
  id="projectSection"
>
  <!--SectionTitle
    title="Proyectos Destacados"
    classTitle="titleProjects"
    description="Convirtiendo ideas en experiencias digitales"
    classDesc="descProjects"
  /-->
  <InterSectionText
    title="Proyectos Destacados"
    classTitle="titleProjects"
    description="Convirtiendo ideas en experiencias digitales"
    classDesc="descProjects"
    padding="20px"
  />
  <div class="cardProjects flex px-6 w-full justify-center">
    <ProjectCard
      id="projectCard"
      title="CentoApp"
      subtitle="Controla tus finanzas sin estrés"
      heading="Simplificando tus finanzas personales"
      description="Diseño de una experiencia de UX/UI intuitiva para ayudar a los usuarios a gestionar gastos y alcanzar sus metas de ahorro."
      tag="estrategia + diseño ux"
      color="#8100B1"
      cover={centoCover}
      icon={CentoAppIcon}
    />
  </div>
  <div class="flex justify-center">
    <CtaButton
      text="Transformemos tu presencia digital"
      ariaLabel="Transformemos tu presencia digital"
      color="#5105B5"
    />
  </div>
</section>

<div
  id="project-overlay"
  class="hidden fixed pt-0 top-0 left-0 right-0 bottom-0 bg-[rgba(0,0,0,.5)] z-150 flex items-center justify-center backdrop-blur-xl md:pt-[10vh]"
>
  <div
    id="project-content"
    class="relative h-[100%] bg-[#202020] max-h-[100%] overflow-y-auto flex flex-col md:max-w-[650px] md:max-h-[90vh] md:rounded-t-3xl translate-y-full"
  >
    <div
      class="sticky top-4 z-155 w-full flex md:max-w-[650px] md:rounded-t-3xl"
    >
      <button
        id="close-overlay"
        class="absolute glass-effect right-4 text-right text-sm text-gray-500 bg-[#404040] p-4 rounded-full h-14 w-14"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-x"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M18 6l-12 12"></path><path d="M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div id="project-details">
      <!-- Aquí se inyectará el contenido del caso -->
      <CentoApp />
    </div>
  </div>
</div>

<script>
  import "../../scripts/overlayProject.js";
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionProjects",
      start: "top 80%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".titleProjects", {
    opacity: 0,
    scale: 0.8,
    duration: 1,
    ease: "sine.out",
  })
    .from(
      ".descProjects",
      {
        opacity: 0,
        scale: 0.9,
        duration: 1,
        ease: "sine.out",
      },
      "-=0.5"
    )
    .from(
      ".cardProjects",
      {
        opacity: 0,
        y: 20,
        duration: 1,
        ease: "sine.out",
      },
      "-=0.5"
    );
</script>
