---
import SectionTitle from "../molecules/SectionTitle.astro";
import CardProject from "../organism/CardProject.astro";

import centoCover from "../../images/Mask group.png";
import CentoAppIcon from "../projects/centoapp/CentoAppIcon.astro";
---

<div class="flex flex-col py-8 m-8 gap-6">
  <SectionTitle />
  <CardProject
    title="CentoApp"
    subtitle="Controla tus finanzas sin estrés"
    heading="Simplificando tus finanzas personales"
    description="Diseño de una experiencia de UX/UI intuitiva para ayudar a los usuarios a gestionar gastos y alcanzar sus metas de ahorro."
    tag="diseño ux/ui"
    tag="estrategia + diseño ux"
    color="#8100B1"
    cover={centoCover}
    icon={CentoAppIcon}
  />
</div>
