---
import SectionTitle from "../molecules/SectionTitle.astro";
import HighLightCard from "../organism/HighLightCard.astro";
import CtaButton from "../atoms/CtaButton.astro";

import centoCover from "../../images/Mask group.png";
import CentoAppIcon from "../projects/centoapp/CentoAppIcon.astro";
---

<div class="sectionProjects flex flex-col py-8 gap-6" id="projectSection">
  <SectionTitle
    title="Proyectos Destacados"
    classTitle="titleProjects"
    description="Convirtiendo ideas en experiencias digitales"
    classDesc="descProjects"
  />
  <div class="cardProjects mx-6">
    <HighLightCard
      title="CentoApp"
      subtitle="Controla tus finanzas sin estrés"
      heading="Simplificando tus finanzas personales"
      description="Diseño de una experiencia de UX/UI intuitiva para ayudar a los usuarios a gestionar gastos y alcanzar sus metas de ahorro."
      tag="estrategia + diseño ux"
      color="#8100B1"
      cover={centoCover}
      icon={CentoAppIcon}
    />
  </div>
  <div class="flex justify-center">
    <CtaButton
      text="Transformemos tu presencia digital"
      ariaLabel="Transformemos tu presencia digital"
      color="#F105BE"
    />
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionProjects",
      start: "top 70%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".titleProjects", {
    opacity: 0,
    y: 20,
    duration: 1,
    ease: "sine.out",
  }).from(
    ".descProjects",
    {
      opacity: 0,
      y: 20,
      duration: 1,
      ease: "sine.out",
    },
    "-=0.5"
  ).from(
    ".cardProjects",
    {
      opacity: 0,
      y: 20,
      duration: 1,
      ease: "sine.out",
    },
    "-=0.5"
  );;
</script>
