---

---

<div class="fixed top-4 z-50 flex max-w-screen-lg justify-between text-[#aaa] hidden md:flex bg-[rgba(250,250,250,0.05)] p-2 rounded-full transform -translate-x-1/2 left-1/2 backdrop-blur-lg font-medium">
  <a href="/" class="bg-[rgba(250,250,250,0.1)] px-8 py-2 rounded-full text-[#0075C8]">Inicio</a>
  <a href="/about/" class="px-8 py-2 rounded-full">Sobre mi</a>
  <a href="/blog/" class="px-8 py-2 rounded-full">Blog</a>
  <a href="/tags/" class="px-8 py-2 rounded-full">Etiquetas</a>
</div>
