---
const { title, description, classTitle, classDesc } = Astro.props;
---

<div class="sectionTitle flex flex-col mx-6">
  <h2 class={`${classTitle} heading text-[#ddd] text-2xl font-bold`}>{title}</h2>
  <p class={`${classDesc} subheading text-[#858585] font-light`}>
    {description}
  </p>
</div>