---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import { getLangFromUrl } from "../i18n/utils.js";
const lang = getLangFromUrl(Astro.url)

const { pageTitle } = Astro.props;

const isProduction = import.meta.env.MODE === "production";
---

<html lang={lang} class="bg-[#151515]">
  <head>
    {isProduction && (
    <>
    <script
        is:inline
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-ZY4JSH3L6H"
    ></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {{ dataLayer.push(arguments); }}
        gtag("js", new Date());
        gtag("config", "G-ZY4JSH3L6H");
    </script>
    </>
)}
    <slot name="SEO" />
  </head>
  <body class="flex flex-col max-w-[100vw] md:mx-auto pb-20">
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
      import "../scripts/overlayProject.js";
    </script>
  </body>
</html>